<!DOCTYPE html>
<html>
  <head>
    <title>ClubHouse</title>
    <!-- GOOGLE FONTS - Ranchers -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav">
      <h1 class="nav__logo">ClubHouse</h1>
      <% if (currentUser) { %>
      <a href="/users/logout" class="button button--primary">Logout</a>
      <% }else{ %>
      <a href="/users/login" class="button button--primary">Login</a><% }%>
    </nav>
    <div class="container">
