<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h2><%= title %></h2>
      <p>Welcome to the clubhouse</p>
      <% if (currentUser) { %>
      <a href="/messages/create" class="button button--primary">Add Message</a>
      <% }else{ %>
      <a href="/users/login" class="button button--primary">Login</a><% }%>

      <div class="messages">
        <% messages.map(m => {%>
        <div class="messages__message">
          <% if(currentUser && currentUser.isAdmin){ %>
          <button class="button button--danger">Delete</button>
          <% } %>
          <h2><%=m.title%></h2>
          <p><%=m.text%></p>
        </div>
        <%})%>
      </div>
    </div>
  </body>
</html>
