<%- include ../partials/header %>
<form class="form form--column" action="" method="POST">
  <label for="username">Username: </label>
  <input class="form__input" type="text" name="username" id="username" />
  <label for="password">Password: </label>
  <input class="form__input" type="password" name="password" id="password" />

  <p>Not yet a member <a href="signup">sign up here</a></p>
  <button class="button button--primary">Login</button>
</form>
<%- include ../partials/footer %>
