* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

//variables
$sp-sm: 1rem;
$sp-md: 2rem;
$sp-lg: 3rem;

body {
  background-color: #ddd;
  color: #111;
  font-size: 1.6rem;
  font-family: arial, sans-serif;
}

//typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $sp-lg 0;
}

.nav {
  height: 5rem;
  padding: $sp-sm $sp-md;
  background-color: rgb(46, 90, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $sp-lg;
  &__logo {
    font-size: 5rem;
    color: #fff;
    font-family: "Ranchers", cursive;
  }
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: $sp-sm $sp-md;
  margin: $sp-md 0;
  max-width: 150px;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  &--primary {
    background-color: rgb(0, 156, 0);
    color: #fff;
  }
  &--danger {
    background-color: rgb(255, 64, 64);
    color: #fff;
  }
}

.messages {
  width: 100%;
  &__message {
    width: 95%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: $sp-md;
    margin: $sp-md 0;
  }
}

.form {
  &--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  &__input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 0.5rem;

    padding: 1rem 1.5rem;
    width: 100%;
  }
}

.errors {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 56, 56);
  border-radius: 0.25rem;
  &__error {
    font-size: 1.4rem;
    color: #fff;
  }
}
